body{
  background-color: #101870;
}

h1{
  color: #00abf2;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

Ol{
  background-color: #e8eced;
  padding: 20px;
  border-radius: 20px;
  list-style: none;
  width: 450px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px
}

span{
  color: #00b755;
}
